# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# weights and models of trained NN
weights/
models/

.vscode/
model.png
activationFunctions.png

_jlc/

